@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');

#body{
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%; /* Default size is 16. Everything will based off 16 */
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #rightbar { width:67%; }
    #middlebar { width:30%; margin-left:3%;}
    #leftbar {}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


/* Add this to background images: */
    /* overflow:hidden;
    no-repeat center bottom;
    background-size:contain */